* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain light";
    color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1 {
    font-size: 80px;
    text-transform: uppercase;
}

/* .under {
    background-color: #ffffff72;
    height: 2px;
    width: 50%;
} */