* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";    
}

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    color: chocolate;
    background: bisque;
    text-align: center;
}

/* Color Names: red, green
Hexadecimal Notation: #
RGB Functional Notation: rgb
RGBA Functional Notation: rgba */

/* css mein har color ki min value 0 hai and maximum 255 hai */

/* r - 255
g - 255
b - 255 */

/* chaiye aap 255 se jayada value dedo toh bhi vo 255 hi consider hogi and blue, green, red at full intensity shows white color and min black */

/* rgb(255, 255, 255) -> for solid color */
/* rgba(255, 255, 255, 1) -> for transparent color */
/* min - 0 , max - 1 */