*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}

#main{
  width: 100%;
  height: 100%;
  /* background-color: grey; */
}

#nav{
  align-items: center;
  height: 70px;
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 0 30px;
}

#nav h4{
  font-size: 17px;
  font-weight: 500;
}

#nav i{
  background-color: #000;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  border-radius: 50%;
  font-weight: 500;
}

#center{
  width: 100%;
  padding: 10px 80px;
}

#center h1{
  font-size: 60px;
  font-weight: 540;
  line-height: 65px;
  /* background-color: bisque; */
  letter-spacing: 0.5px;
}

#center-in{
  height: 160px;
  margin-top: 40px;
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#center-in p{
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

#right{
  width: 20%;
}

.elem{
  /* background-color: yellow; */
  /* margin: 5px; */
  padding: 12px 0;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elem a{
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.elem i{
  font-size: 25px;
  font-weight: 500;
  opacity: 0;
}

.elem:hover i{
  opacity: 1;
}
.elem:hover{
  background-color: rgb(235, 232, 229);
}

.elem:hover a{
  text-decoration: underline;
}

#bottom {
    width: 100%;
    height: 33.5%;
    background: #000;
    background-image: url(https://images.unsplash.com/photo-1712847331947-9460dd2f264b?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 5% 50%;
}