/* har element ke pass ek posibility hoti hai ki wo element chahe to inactive do after and before naam ki properties lo activate kar sakta hai */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";    
}

html, body {
    width: 100%;
    height: 100%;
}

p {
    width: fit-content;
    /* background-color: red; */
    position: relative;
}

p::before {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: burlywood;
    height: 2px;
    content: ''; /* its active before */
}

h1::first-line {
    color: antiquewhite;
    /* dynamic */
}

h2::selection {
    color: blue;
}